body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    background-color: #232323;
    color: white;
    overflow: auto;
    border-bottom: 3px solid orangered;
    padding-top: 25px;
    padding-bottom: 25px;
}

.container {
    width: 80%;
    margin: auto;
}

.navbar {
    list-style: none;
    float: right;
}

a:-webkit-any-link {
    text-decoration: none;
    color: white;
}

a:-webkit-any-link:hover  {
    text-shadow: 3px 1px 1px rgb(0, 0, 0);
    transition: 0.1s;
    color: orangered;
}


.titulo {
    margin: 0;
    float: left;
    padding-top: 5px;
}


.header .navbar li {
    float: left;
    margin-left: 13px;
    text-transform: uppercase;
}

.destaque {
    color: orangered;
}


.banner {
    text-align: center;
    background-color: white;
    height: 150px;
}

.banner h1 {
    margin: 0;
    font-size: 50px;
    padding-top: 25px;
}

.banner h3 {
    color: #555555;
}


.saiba-mais {
    text-align: center;
    background-color:#232323;
    height: 30px;
}


.box img {
    height: 100px
}

.box {
    overflow: auto;
} 

.box-item {
    float: left;
    text-align: center;
    width: 27%;
    padding: 3%;
}


.footer {
    text-align: center;
    background-color: orangered;
    height: 90px;
}

.footer h4 {
    margin: 0;
    padding-top: 40px;
    font-weight: 100;
    color: white;
}